{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card w-50 mx-auto mt-5 bg-primary bg-gradient">
        <div class="card-body">
            <h1 class="card-title text-center text-light">
                Tech Support Assistant
            </h1>
            <p class="text-center text-warning fw-bold">
                Development Demo v0.1.0
            </p>
            <form id="search-form">
                <div class="input-group">
                    <input type="text" id="search" class="form-control"
                           placeholder="What do you need help with today?">
                    <button class="btn btn-light" type="submit"
                            id="button-addon2">
                        <i class="bi bi-question-circle"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="results"
         class="w-50 mx-auto border border-primary border-opacity-50 rounded p-3"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'search.js' %}"></script>
</body>
</html>